* {
    margin: 0;
    padding: 0;
}
.fondoPurple {
    background-color: rgb(25, 2, 44);
}

.linkNavbar {
    color: rgb(99, 39, 120);
    font-weight: bold;
    margin: 1rem;
}

.divContainerCupones {
    margin: 2rem;
}

.divContainerFooter {
    background-color: darkslategrey;
}

.divCardContainer {
    max-width: 50rem;
}

.greeting{
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.counter {
    width:fit-content ;
    background-color: purple;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

/* Estilos Item.jsx*/

.album {
    display: block;
    width: 300px;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos Item Detail.jsx*/

.ContainerItemDetail {
    width: 98%;
    margin: auto;
}

@media screen and (min-width:768px) {
    .ContainerItemDetail {
        width: 70%;
    }
}

.detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.detail__image {
    width: 100%;
}

.content {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 50%;
    }

    .content {
        padding-left: 3rem;
        width: 50%;
    }
}