* {
  margin: 0;
  padding: 0;
}

.fondoPurple{
  background-color: rgb(93, 78, 140);
}

.linkHeader {
  color: aliceblue;
  font-weight: bold;
}

.contenedorTituloDescuentos{
  border: solid black 0.3rem;
  border-radius: 0.8rem;
  margin: 2rem;
}

.tituloDescuentos {
  color: brown;
  font-weight: bold;
}

.fondoGris {
  background-color: rgb(39, 57, 74);
  margin: 1rem;
}