* {
    margin: 0;
    padding: 0;
}
.fondoPurple {
    background-color: rgb(187, 194, 178);
}

.linkNavbar {
    color: rgb(99, 39, 120);
    font-weight: bold;
    margin: 1rem;
}


.divContainerFooter {
    background-color: darkslategrey;
}

.divCardContainer {
    max-width: 50rem;
}

.greeting{
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.counter {
    width:fit-content ;
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}

/* Estilos Item.jsx*/

.widthItem{
    width: 20rem;
}
/* Estilos Item Detail.jsx*/

.ContainerItemDetail {
    text-align: center;
    width: 98%;
    margin: 2rem;
    padding: 1rem;
    border: 0.3rem solid rgb(15, 17, 4);
    border-radius: 1rem;

}

@media screen and (min-width:768px) {
    .ContainerItemDetail {
        width: 70%;
    }
}

.detail {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.detail__image {
    width: 100%;
}

.content {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 50%;
    }

    .content {
        padding-left: 3rem;
        width: 50%;
    }
}

/* Estilos ItemCart*/

.itemCart {
    display:flex ;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
}

.itemCart img {
    width: 200px;
    margin-right: 1rem;
}

/*Cart*/

.contenedorCart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding: 1rem;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
  }

 